@import './base.css';

:root{
  --main-orange: #F37022;
  --main-yellow: #FEF5D2;
  --header-height: 100px;
  --footer-height: 100px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /* background-color: var(--main-yellow); */

}


a {
  text-decoration: none;
  color: inherit;
}